<html>
  <head>
    <title>Posts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap.min.js') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jquery.min.js') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  </head>
  <body>
    <div class="container">
      <form action="{{ url_for('avaliar', avaliado=['departamentos', avaliado] )}}" method="post">

        <h4>Avaliação: {{ avaliado }}</h4>

        <h4>Como você avalia:</h4>
        <select class="form-select" aria-label="Default select example" id="avaliacao" name="avaliacao">
          <option value="ruim" selected>Ruim</option>
          <option value="regular">Regular</option>
          <option selected value="bom">Bom</option>
          <option value="otimo">Ótimo</option>
        </select>

        <h4>Deixe um comentário sobre sua avaliação:</h4>
        <div class="input-group">
          <span class="input-group-text">With textarea</span>
          <textarea class="form-control" aria-label="With textarea" id="comentario" name="comentario"></textarea>
        </div>
        <input class="btn btn-default" type="submit" value="Avaliar">
      </form>
    </div>
  </body>
</html>