<html>
  <head>
    <title>Denuncia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <form action="http://localhost:5000/registro" method="post"></form>
        <h4>Deixe um comentário sobre sua avaliação:</h4>
        <div class="input-group">
          <span class="input-group-text">With textarea</span>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <input class="btn btn-default" type="submit" value="Avaliar">
      </form>
    </div>
  </body>
</html>